@model IEnumerable<veri.Hizmetler>

@{
    ViewBag.Title = "Hizmetler";
}

<div class="container" style="background: #ffffff;border-top-width: 50px;padding-top: 50px;padding-bottom: 50px;">
    <h2>Menüler</h2>
    <br />
    <p>
        @Html.ActionLink("Hizmet Oluştur", "Create")
    </p>
    <hr />
    <br />
    <table id="datable_1" class="table table-hover display">
        <thead>
            <tr>
                <th>#</th>
                <th>Hizmetler Adı</th>
                <th>Tarih</th>
                <th>Aktif Mi</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Hizmetlerid)</td>
                    <td>@Html.DisplayFor(modelItem => item.HizmetlerAdi)</td>
                    <td>@Html.DisplayFor(modelItem => item.HizmetlerTarih)</td>
                    <td>@Html.DisplayFor(modelItem => item.HizmetlerAktif)</td>
                    <td>
                        @Html.ActionLink("Düzenle", "Edit", new { id = item.Hizmetlerid })
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>